hr{
    color: #F2F2F2;
}

h4{
    color: #354154;
}

a{
    text-decoration: none;
}

.wrapper{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(to right bottom, #A4CAA6, rgba(38, 82, 6, 0.94));
    /*background: linear-gradient(to bottom right, #D7BBEA, #65A8F1);*/
    width:100%;
    min-width:100%;
    max-width:100%;
    height: auto;
    overflow: auto;
}


.card{
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius:5px;
    float: left;
    }

.card-xl{
    width:60%;
    min-width:60%;
    height: auto;
}
.card-xxl{
    width:90%;
    min-width:90%;
    margin: 2% 5%;
    height: auto;
}
.card-md{
    width:50%;
    min-width:50%;
    height: auto;
}
.card-sm{
    width:20%;
    min-width:20%;
    height: auto;
}
.card-xs{
    width:15%;
    min-width:15%;
    height: auto;
}
.card-lg{
    width:40%;
    min-width:40%;
    height: auto;
}
.card-img{
    width:100%;
    border-radius:40%;
}

@media screen and (max-width: 650px) {
    .border-left{
        border-left: 0px;
    }
    .border-right{
        border-right: 0px;
    }

    .text-input{
        width: inherit;
    }

    .view-image, .card-img {
        width: 100%;
    }
    .card, .card-lg, .card-xl, .card-sm, .card-xxl, .card-xs{
        width: 80%;
        margin-right:5%;
        margin-left:5%;
    }

    .left-offset-1, .left-offset-2,.left-offset-3{
        margin-left:0%;
    }
    .right-offset-1, .right-offset-2,.right-offset-3{
        margin-right:0%;
    }

}


.view-image{
    width: 80%;
    margin: 0%10%;
}
.border-right{
    border-right: 2px solid #E4E6EB !important;
}
.border-left{
    border-left: 2px solid #E4E6EB !important;
}
.border-bottom{
    border-bottom: 2px solid #E4E6EB !important;
}
.border-top{
    border-top: 2px solid #E4E6EB !important;
}





.left-offset-1{
    margin-left:10%;
}
.right-offset-1{
    margin-right:10%;
}

.left-offset-2{
    margin-left:20%;
}
.right-offset-2{
    margin-right:20%;
}

.left-offset-3{
    margin-left:30%;
}
.right-offset-3{
    margin-right:30%;
}
.top-offset-1{
    margin-top:1%;
}
.top-offset-2{
    margin-top:5%;
}
.top-offset-3{
    margin-top: 10%;
}
.top-offset-4{
    margin-top: 15%;
}
.bottom-offset-1{
    margin-bottom:1%;
}
.bottom-offset-2{
    margin-bottom:5%;
}
.bottom-offset-3{
    margin-bottom: 10%;
}
.bottom-offset-4{
    margin-bottom: 15%;
}
.bottom-offset-6{
    margin-bottom: 20%;
}
.bottom-offset-7{
    margin-bottom: 25%;
}
.bottom-offset-8{
    margin-bottom: 30%;
}
.bottom-offset-xl{
    margin-bottom: 45%;
}








.max-width{
    width: inherit;
    min-width:inherit;
    max-width: inherit;
    margin-bottom: 5%;
}







.list{
    padding:10%2%;
    margin-top:5%;
    margin-bottom:5%;
    list-style-type: none;
    cursor:pointer;
}
.label{
    font-family: 'Typiko New Era';
    color: rgb(62, 75, 91)
}
.font-xl{
    font-size: 40px;
    font-weight: bold;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.font-lg{
    font-size: 25px;
    font-weight: bold;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.font-xs{
    font-size: 18px;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}






.text-input{
    font-size:100%;
    padding:4%;
    width: inherit;
    border:1px solid #DCE0EC;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.input-xs{
    width:30%;
}
.input-sm{
    width:50%;
}
.input-lg{
    width:70%;
}
.input-xl{
    width:90%;
}
.button{
    background-color:#047bf8;
    color:white;
    font-family:'Typiko New Era';
    font-size: 100%;
    border-radius:5px;
    border:1px solid #428bca;
    cursor:pointer;
}
.button:hover{
    background-color:#428bca;
}
.btn-md{
    height:40px;
    width:30%;
}
.btn-lg{
    height:40px;
    width:50%;
}
.btn-xl{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.upload-btn {
    border: 1px solid rgb(62, 75, 91);
    color: rgb(62, 75, 91);
    background-color: inherit;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: lighter;
}
.upload-btn-wrapper:hover{
    cursor: pointer;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.faint-black{
    color: rgb(62, 75, 91);
}
.text-white{
    color:white;
}
.harsh-color{
    background-color: #F1F3F8;
    border: 1px solid #F1F3F8;
}
.light-green{
    background-color: #00D62F;
    border: 1px solid #00D62F;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.white-bg{
    background-color: white;
    border: 1px solid white;
    padding:0px;
    margin: 0px;
}
.status-correct{
    border-bottom:2px solid #00B549 !important;
}
.status-pending{
    border-bottom:2px solid #FFC800 !important;
}
.status-wrong{
    border-bottom:2px solid #EB0038 !important;
}
.shadow-xs{
    box-shadow: 3px 3px 3px #E5E8F1;
}
.link:hover{
    color:#00B549 !important;
    text-decoration: wavy !important;
}
.wrong{
    color: #EB0038;
}
.correct{
    color: #00B549;
}
.pending{
    color: #FFC800;
}
.no-margin-bottom{
    margin-bottom: 0% !important;
}
.no-margin-top{
    margin-top: 0% !important;
}
.align-left{
    float: left;
}
.align-right{
    float: right;
}
.text-align-center{
    text-align: center;
}



.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00B549;
    color: white;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}







.home-anime{
    animation-iteration-count: 3;
    animation-duration: 3s;
}
.home-anime:hover{
    animation-iteration-count: infinite;

}