hr{
    color: #F2F2F2;
}
h4{
    color: #354154;
}
a{
    text-decoration: none;
    color: #354154;
}
a:hover{
    color: #00B549;
    border-bottom: 2px solid;
}
body{
    min-height: 100%;
}
header{
    box-shadow: 2px 2px 2px #EDEDED !important;
}
footer{
    flex-shrink: 0;
    background-color: #393941;
    text-align: center;
    border-top: 1px solid #00D62F !important;
    box-shadow: 0px 2px 2px #E4E6EB;
    height: 20%;
}

li:hover{
    color: #00D62F;
}

.bg-img {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/bg-img.jpeg') center center no-repeat;
    background-size: cover;
}

.bg-img:before {
     content: '';
     position: relative;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-image: linear-gradient(to bottom right,white, rgba(38, 82, 6, 0.94));
     opacity: .12;
 }


.shadow{
    box-shadow: 2px 1px 20px 2px #EDEDED !important;
}
.main-content{
    flex: 1 0 auto;
    margin-bottom: 40px;
}

.max-width{
    width: inherit;
    min-width:inherit;
    max-width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(to right bottom, #A4CAA6, rgba(38, 82, 6, 0.94));
    width:99.8%;
    min-width:99.8%;
    max-width:99.8%;
    height: auto;
    overflow: auto;
}

.wrapper-harsh{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #F1F3F8;
    width:99.8%;
    min-width:99.8%;
    max-width:99.8%;
    height: auto;
    overflow: auto;
}

.nav{
    width: 100%;
    min-width: 100%;
    margin-bottom: 0px;
}
.bread-crumbs{
    width: 100%;
    min-width: 100%;
    margin-top: 0px;
    clear: both;
}

.card{
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius:5px;
    float: left;
    }

.card-xl{
    width:60%;
    min-width:60%;
    height: auto;
}
.card-xl-plus1{
    width:70%;
    min-width:70%;
    height: auto;
}
.card-xxl{
    width:80%;
    min-width:80%;
    margin: 0% 5%;
    height: auto;
}
.card-full{
    width:99.5%;
    min-width:99.5%;
    margin: 0% 0%;
    height: auto;
    padding:0px 0px;
}
.card-lg{
    width:50%;
    min-width:50%;
    height: auto;
}
.card-sm{
    width:20%;
    min-width:20%;
    height: auto;
}
.card-xs{
    width:15%;
    min-width:15%;
    height: auto;
}
.card-md{
    width:40%;
    min-width:40%;
    height: auto;
}
.card-img{
    width:100%;
    border-radius:40%;
}
.transparent{
    background-color: transparent !important;
}

@media screen and (max-width: 650px) {
    .border-left{
        border-left: 0px;
    }
    .border-right{
        border-right: 0px;
    }

    .text-input{
        width: inherit;
    }

    .view-image, .card-img {
        width: 100%;
    }
    .card-lg, .card-xl, .card-sm, .card-xxl, .card-xs, .card-full, .card-md{
        width: 80% !important;
        margin-right:5%;
        margin-left:5%;
    }

    .left-offset-1, .left-offset-2,.left-offset-3{
        margin-left:0px;
    }
    .right-offset-1, .right-offset-2,.right-offset-3{
        margin-right:0px;
    }

}


.view-image{
    width: 80%;
    margin: 0%10%;
}
.profile-image{
    width: 60px;
    border-radius: 50%;
    border: 1px solid #E4E6EB;
    margin: 5%10%;
}
.border-right{
    border-right: 1px solid #E4E6EB !important;
}
.border-left{
    border-left: 1px solid #E4E6EB !important;
}
.border-bottom{
    border-bottom: 1px solid #E4E6EB !important;
}
.border-top{
    border-top: 1px solid #E4E6EB !important;
}
.green-border-bottom{
    border-bottom: 1px solid #00D62F !important;
    box-shadow: 2px 2px 2px #E4E6EB;
}
.green-top-bottom{
    border-top: 1px solid #00D62F !important;
    box-shadow: 2px 2px 2px #E4E6EB;
}
.green-border-left{
    border-left: 1px solid #00D62F !important;
    box-shadow: 2px 2px 2px #E4E6EB;
}
.green-border-right{
    border-right: 1px solid #00D62F !important;
    box-shadow: 2px 2px 2px #E4E6EB;
}
.no-border-radius{
    border-radius: 0px !important;
}
.no-border{
    border: 0px !important;
}



.left-offset-1{
    margin-left:10%;
}
.right-offset-1{
    margin-right:10%;
}

.left-offset-2{
    margin-left:20%;
}
.right-offset-2{
    margin-right:20%;
}

.left-offset-3{
    margin-left:30%;
}
.right-offset-3{
    margin-right:30%;
}
.top-offset-1{
    margin-top:1%;
}
.top-offset-2{
    margin-top:5%;
}
.top-offset-3{
    margin-top: 10%;
}
.top-offset-4{
    margin-top: 15%;
}
.bottom-offset-1{
    margin-bottom:1%;
}
.bottom-offset-2{
    margin-bottom:5%;
}
.bottom-offset-3{
    margin-bottom: 10%;
}
.bottom-offset-4{
    margin-bottom: 15%;
}
.bottom-offset-6{
    margin-bottom: 20%;
}
.bottom-offset-7{
    margin-bottom: 25%;
}
.bottom-offset-8{
    margin-bottom: 30%;
}
.bottom-offset-xl{
    margin-bottom: 45%;
}

.list{
    padding:10%2%;
    margin-top:5%;
    margin-bottom:5%;
    list-style-type: none;
    cursor:pointer;
}
.label{
    font-family: 'Typiko New Era';
    color: rgb(62, 75, 91)
}
.font-xl{
    font-size: 40px;
    font-weight: bold;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.font-lg{
    font-size: 25px;
    font-weight: bold;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.font-xs{
    font-size: 18px;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

.font-xxs{
    font-size: 18px;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: lighter;
}
.font-smallest{
    font-size: 12px;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: lighter;
}

.font-sm{
    font-size: 21px;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}



.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left:30px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}




.text-input{
    font-size:100%;
    padding:2.5%;
    width: inherit;
    border:1px solid #DCE0EC;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.input-xs{
    width:30%;
}
.input-xxs{
    width:20%;
    padding:1%;
}
.input-sm{
    width:50%;
}
.input-lg{
    width:70%;
}
.input-xl{
    width:90%;
}
.button{
    background-color:#047bf8;
    color:white;
    font-family:'Typiko New Era';
    font-size: 100%;
    border-radius:5px;
    border:1px solid #428bca;
    cursor:pointer;
}
.button:hover{
    background-color:#428bca;
}
.btn-md{
    height:40px;
    width:30%;
}
.btn-lg{
    height:40px;
    width:50%;
}
.btn-xl{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}
.btn-xl-height{
    height: 50px;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.upload-btn {
    border: 1px solid rgb(62, 75, 91);
    color: rgb(62, 75, 91);
    background-color: inherit;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: lighter;
}
.upload-btn-wrapper:hover{
    cursor: pointer;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.faint-black{
    color: rgb(62, 75, 91);
}
.text-white{
    color:white;
}
.header-harsh{
    background-color: #EDEDED;
    border: 1px solid #EDEDED;
}

.harsh-color{
    background-color: #FBFBFB;
    border: 1px solid #FBFBFB;
}
.light-green{
    background-color: #00D62F;
    border: 1px solid #00D62F;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.green-color{
    color: #00D62F;
}
.white-bg{
    background-color: white;
    border: 1px solid white;
    padding:0px;
    margin: 0px;
}
.status-correct{
    border-bottom:2px solid #00B549 !important;
}
.status-pending{
    border-bottom:2px solid #FFC800 !important;
}
.status-wrong{
    border-bottom:2px solid #EB0038 !important;
}
.shadow-xs{
    box-shadow: 3px 3px 3px #E5E8F1;
}
.link:hover{
    color:#00B549 !important;
    text-decoration: wavy !important;
}
.wrong{
    color: #EB0038;
}
.correct{
    color: #00B549;
}
.pending{
    color: #FFC800;
}
.no-margin-bottom{
    margin-bottom: 0% !important;
}
.no-margin-top{
    margin-top: 0% !important;
}
.no-margin-left{
    margin-left: 0% !important;
}
.align-left{
    float: left;
}
.align-right{
    float: right;
}
.text-align-center{
    text-align: center;
}



.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #393941;
    color: white;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}







.home-anime{
    animation-iteration-count: 3;
    animation-duration: 3s;
}
.home-anime:hover{
    animation-iteration-count: infinite;

}